*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-ExtraBold.woff2") format("woff2"), url("../fonts/Lato-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-SemiBold.woff2") format("woff2"), url("../fonts/Lato-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

._bkgr-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(-50%, -50%) scale(1.001);
          transform: translate(-50%, -50%) scale(1.001);
}

._btn {
  color: #fff;
  border: 1px solid #fff;
  padding: 13px 20px;
  display: inline-block;
  font-size: 13px;
  text-align: center;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #3e9cdc;
}

.scroll-top {
  position: fixed;
  z-index: 1000;
  width: 40px;
  height: 40px;
  border: 0;
  right: 30px;
  bottom: 30px;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.scroll-top::before, .scroll-top::after {
  content: '';
  position: absolute;
  display: block;
  left: 50%;
  width: 15px;
  height: 4px;
  border-radius: 3px;
  -webkit-transform-origin: 1.5px center;
          transform-origin: 1.5px center;
  background-color: #3d4050;
}

.scroll-top::before {
  -webkit-transform: translate(-1px, -7px) rotate(135deg);
          transform: translate(-1px, -7px) rotate(135deg);
}

.scroll-top::after {
  -webkit-transform: translate(-1px, -7px) rotate(45deg);
          transform: translate(-1px, -7px) rotate(45deg);
}

.scroll-top._active {
  opacity: 0.7;
  visibility: visible;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.wrapper {
  min-height: 100vh;
}

.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

.section-heading {
  margin: 0 auto;
  max-width: 70%;
  font-size: 36px;
  min-width: 220px;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}

@media (max-width: 991.98px) {
  .section-heading {
    font-size: 30px;
  }
}

@media (max-width: 575.98px) {
  .section-heading {
    font-size: 20px;
  }
}

.section-heading span {
  color: #3e9cdc;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1010;
  background-color: rgba(16, 16, 29, 0.9);
  -webkit-transition: -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease, -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
}

.header__container {
  height: 100px;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
}

@media (max-width: 991.98px) {
  .header__container {
    height: 70px;
  }
}

.header._scrolled .header__container {
  height: 50px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.header__body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  position: relative;
  font-size: 0;
  line-height: 0;
}

.logo img {
  width: 245px;
  height: auto;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.header._scrolled .logo img {
  width: 200px;
}

@media (max-width: 991.98px) {
  .logo img {
    width: 200px;
  }
}

@media (max-width: 991.98px) {
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    width: 340px;
    padding: 110px 30px 10px;
    background-color: #272733;
    -webkit-transform-origin: right center;
            transform-origin: right center;
    -webkit-transform: perspective(100px) translateX(100%) rotateY(-20deg);
            transform: perspective(100px) translateX(100%) rotateY(-20deg);
    -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease;
    transition: top 0.3s ease, -webkit-transform 0.3s ease;
    transition: transform 0.3s ease, top 0.3s ease;
    transition: transform 0.3s ease, top 0.3s ease, -webkit-transform 0.3s ease;
  }
  .header._menu-opened .menu {
    -webkit-transform: perspective(100px) translateX(0);
            transform: perspective(100px) translateX(0);
  }
}

@media (max-width: 575.98px) {
  .menu {
    width: 100%;
  }
}

.menu .menu__list li {
  display: inline-block;
}

@media (min-width: 992px) {
  .menu .menu__list li + li {
    margin-left: 56px;
  }
}

@media (max-width: 991.98px) {
  .menu .menu__list li {
    display: block;
    margin: 20px 0;
    text-align: center;
  }
}

.menu__link {
  display: block;
  position: relative;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  padding: 5px 0;
  margin: -5px 0;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media (min-width: 992px) {
  .menu__link::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 1px;
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    background-color: #fff;
    -webkit-transition: opacity 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s ease;
  }
  .menu__link:not(.menu__link_active):hover::after {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #43abf0;
  }
}

@media (max-width: 991.98px) {
  .menu__link {
    font-size: 15px;
    padding: 10px 0;
  }
}

.menu__link_active {
  color: #43abf0;
}

.menu__link:hover {
  color: #43abf0;
}

.burger {
  display: none;
  width: 30px;
  height: 19px;
  border: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  -webkit-perspective: 50px;
          perspective: 50px;
  background-color: transparent;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

@media (max-width: 991.98px) {
  .burger {
    display: block;
  }
}

.burger span {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  z-index: 20;
  border-radius: 3px;
  -webkit-perspective: 50px;
          perspective: 50px;
  background-color: #fff;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.6s ease;
  transition: transform 0.6s ease, opacity 0.3s ease;
  transition: transform 0.6s ease, opacity 0.3s ease, -webkit-transform 0.6s ease;
}

.burger span:nth-child(1) {
  top: 0;
}

.header._menu-opened .burger span:nth-child(1) {
  -webkit-transform: translateY(8px) rotateY(180deg) rotateZ(45deg);
          transform: translateY(8px) rotateY(180deg) rotateZ(45deg);
}

.burger span:nth-child(2) {
  top: 8px;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.header._menu-opened .burger span:nth-child(2) {
  -webkit-transform: rotateY(45deg) rotateZ(90deg);
          transform: rotateY(45deg) rotateZ(90deg);
  opacity: 0;
}

.burger span:nth-child(3) {
  top: 16px;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.header._menu-opened .burger span:nth-child(3) {
  -webkit-transform: translateY(-8px) rotateY(180deg) rotateZ(-45deg);
          transform: translateY(-8px) rotateY(180deg) rotateZ(-45deg);
}

.header._menu-opened .burger {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.header._scrolled._menu-opened .burger {
  -webkit-transform: rotateY(180deg) translateY(10px);
          transform: rotateY(180deg) translateY(10px);
}

.main-banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 992px) {
  .main-banner {
    min-height: 850px;
  }
}

@media (max-width: 575.98px) {
  .main-banner {
    min-height: 100vh;
  }
}

.main-banner picture {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  overflow: hidden;
}

.main-banner picture:after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: transparent;
}

@media (max-width: 575.98px) {
  .main-banner picture:after {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

.main-banner__container {
  position: relative;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 991.98px) and (min-width: 576px) {
  .main-banner__container {
    padding-top: 130px;
    padding-bottom: 80px;
  }
}

@media (max-width: 575.98px) {
  .main-banner__container {
    padding-top: 110px;
    text-align: center;
  }
}

.main-banner__container > * {
  max-width: 800px;
}

@media (max-width: 991.98px) {
  .main-banner__container > * {
    max-width: 600px;
  }
}

.main-banner__heading {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 991.98px) and (min-width: 576px) {
  .main-banner__heading {
    font-size: 35px;
  }
}

@media (max-width: 575.98px) {
  .main-banner__heading {
    font-size: 25px;
  }
}

.main-banner__heading span {
  color: #3e9cdc;
}

.main-banner__text {
  font-size: 20px;
  margin-top: 90px;
}

@media (max-width: 991.98px) and (min-width: 576px) {
  .main-banner__text {
    margin-top: 60px;
    font-size: 18px;
  }
}

@media (max-width: 575.98px) {
  .main-banner__text {
    margin-top: 30px;
    font-size: 16px;
  }
}

.main-banner .main-banner__list {
  margin-top: 10px;
}

.main-banner .main-banner__list li + li {
  margin-top: 5px;
}

.main-banner .main-banner__list li:before {
  content: "-";
  padding: 0 9px;
  line-height: 1;
  font-weight: 600;
  vertical-align: 2px;
}

.main-banner__buttons {
  margin-top: 80px;
}

@media (max-width: 991.98px) {
  .main-banner__buttons {
    margin-top: 50px;
  }
}

.main-banner__button {
  min-width: 183px;
}

@media (max-width: 575.98px) {
  .main-banner__button {
    display: block;
    max-width: 250px;
    min-width: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.main-banner__button_white {
  color: #2a2b30;
  border-color: #6f6d7b;
  background-color: #fff;
}

@media (min-width: 576px) {
  .main-banner__button + .main-banner__button {
    margin-left: 27px;
  }
}

@media (max-width: 575.98px) {
  .main-banner__button + .main-banner__button {
    margin-top: 10px;
  }
}

.ordering {
  padding-top: 118px;
  padding-bottom: 150px;
  color: #fff;
  background: url("../images/ordering-background.png") center/cover no-repeat #272733;
}

@media (max-width: 991.98px) and (min-width: 576px) {
  .ordering {
    padding-top: 88px;
    padding-bottom: 100px;
  }
}

@media (max-width: 575.98px) {
  .ordering {
    padding-top: 68px;
    padding-bottom: 60px;
  }
}

.ordering__description {
  margin: 30px auto 0;
  font-size: 18px;
  text-align: center;
  max-width: 70%;
}

@media (max-width: 991.98px) and (min-width: 576px) {
  .ordering__description {
    margin-top: 20px;
    font-size: 16px;
  }
}

@media (max-width: 575.98px) {
  .ordering__description {
    margin-top: 20px;
    font-size: 15px;
  }
}

.ordering__featurettes {
  margin-top: 80px;
}

@media (max-width: 991.98px) and (min-width: 576px) {
  .ordering__featurettes {
    margin-top: 60px;
  }
}

@media (max-width: 575.98px) {
  .ordering__featurettes {
    margin-top: 40px;
  }
}

.ordering__form {
  margin-top: 86px;
}

@media (max-width: 991.98px) {
  .ordering__form {
    margin-top: 76px;
  }
}

.featurettes__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -15px;
  margin-right: -15px;
}

@media (max-width: 991.98px) {
  .featurettes__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.featurettes__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  max-width: 20%;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 991.98px) and (min-width: 576px) {
  .featurettes__item {
    -ms-flex-preferred-size: 33.333%;
        flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .featurettes__item:nth-child(3n):not(:last-child):before {
    content: normal;
  }
  .featurettes__item:nth-child(n + 4) {
    margin-top: 40px;
  }
}

@media (max-width: 575.98px) {
  .featurettes__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .featurettes__item:nth-child(2n):not(:last-child):before {
    content: normal;
  }
  .featurettes__item:nth-child(n + 3) {
    margin-top: 20px;
  }
}

.featurettes__item:not(:last-child):before {
  content: "";
  position: absolute;
  top: 48px;
  left: calc(50% + 50px);
  width: calc(100% - 100px);
  height: 6px;
  z-index: 1;
  background: url("../images/ellipse.svg") 50% 50%/18.5% 6px repeat-x transparent;
}

@media (max-width: 991.98px) and (min-width: 576px) {
  .featurettes__item:not(:last-child):before {
    top: 43px;
    left: calc(50% + 45px);
    width: calc(100% - 90px);
  }
}

@media (max-width: 575.98px) {
  .featurettes__item:not(:last-child):before {
    top: 37px;
    height: 5px;
    left: calc(50% + 40px);
    width: calc(100% - 80px);
    background-size: 18.5% 5px;
  }
}

@media (max-width: 991.98px) and (min-width: 850px) {
  .featurettes__item:not(:last-child):before {
    background-size: 13% 6px;
  }
}

@media (max-width: 650px) and (min-width: 576px) {
  .featurettes__item:not(:last-child):before {
    background-size: 28.5% 6px;
  }
}

@media (max-width: 440px) {
  .featurettes__item:not(:last-child):before {
    background-size: 28.5% 5px;
  }
}

.fts-item__image-wrapper {
  position: relative;
  z-index: 2;
  width: 100px;
  height: 100px;
  line-height: 90px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  background-color: #3e9cdc;
  border: 5px solid #286690;
}

@media (max-width: 991.98px) and (min-width: 576px) {
  .fts-item__image-wrapper {
    width: 90px;
    height: 90px;
    line-height: 77px;
  }
}

@media (max-width: 575.98px) {
  .fts-item__image-wrapper {
    width: 80px;
    height: 80px;
    line-height: 68px;
    border-width: 4px;
  }
}

.fts-item__image {
  display: inline;
  vertical-align: middle;
  max-width: 40px;
  max-height: 43px;
}

@media (max-width: 991.98px) and (min-width: 576px) {
  .fts-item__image {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media (max-width: 575.98px) {
  .fts-item__image {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.fts-item__title {
  font-size: inherit;
  font-weight: inherit;
  margin-top: 21px;
  overflow-wrap: break-word;
}

@media (max-width: 991.98px) and (min-width: 576px) {
  .fts-item__title {
    font-size: 14px;
  }
}

@media (max-width: 575.98px) {
  .fts-item__title {
    font-size: 13px;
    margin-top: 15px;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
}

.form__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 750px) {
  .form__item:nth-child(n + 4) {
    margin-top: 31px;
  }
  .form__item_wide {
    -ms-flex-preferred-size: 66.6666%;
        flex-basis: 66.6666%;
  }
  .form__item_more-gap {
    margin-top: 56px !important;
  }
}

@media (max-width: 749.98px) and (min-width: 576px) {
  .form__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .form__item:nth-child(n + 3) {
    margin-top: 31px;
  }
  .form__item_wide {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .form__item_more-gap {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
    margin-top: 50px !important;
  }
}

@media (max-width: 575.98px) {
  .form__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .form__item + .form__item {
    margin-top: 15px;
  }
  .form__item_wide {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .form__item_more-gap {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
    margin-top: 35px !important;
  }
}

.f-item_fixed-height {
  height: 48px;
}

@media (max-width: 991.98px) and (min-width: 576px) {
  .f-item_fixed-height {
    height: 43px;
  }
}

@media (max-width: 575.98px) {
  .f-item_fixed-height {
    height: 40px;
  }
}

.f-item > * {
  width: 100%;
  font-size: 18px;
}

@media (max-width: 991.98px) and (min-width: 576px) {
  .f-item > * {
    font-size: 17px;
  }
}

@media (max-width: 575.98px) {
  .f-item > * {
    font-size: 16px;
  }
}

.f-item select,
.f-item input:not([type="range"]),
.f-item button:not([type="submit"]) {
  position: relative;
  border: 1px solid #fff;
  padding: 12px 11px;
  color: #272733;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.85);
}

@media (max-width: 991.98px) and (min-width: 576px) {
  .f-item select,
  .f-item input:not([type="range"]),
  .f-item button:not([type="submit"]) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 575.98px) {
  .f-item select,
  .f-item input:not([type="range"]),
  .f-item button:not([type="submit"]) {
    padding: 8px 9px;
  }
}

.f-item select:focus,
.f-item input:not([type="range"]):focus,
.f-item button:not([type="submit"]):focus {
  outline: 2px solid #3e9cdc;
  background-color: #fff;
}

.f-item select {
  z-index: 1;
  cursor: pointer;
  scrollbar-width: thin;
  scrollbar-color: #3e9cdc #3d4050;
}

.f-item select::-webkit-scrollbar {
  width: 7px;
}

.f-item select::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #3e9cdc;
}

.f-item select::-webkit-scrollbar-track {
  background-color: #3d4050;
}

.f-item select option {
  padding: 12px 11px;
}

.f-item select option:disabled, .f-item select option:checked:disabled {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  background: -webkit-gradient(linear, left top, left bottom, from(#3d4050), to(#3d4050));
  background: linear-gradient(#3d4050, #3d4050);
  background-color: #3d4050 !important;
  color: #fff !important;
}

.f-item select option:checked {
  background: -webkit-gradient(linear, left top, left bottom, from(#42a9ed), to(#42a9ed));
  background: linear-gradient(#42a9ed, #42a9ed);
  background-color: #42a9ed !important;
  color: #3d4050 !important;
}

.f-item select option:hover {
  color: #42a9ed;
}

.f-item select._active {
  color: #fff;
  padding: 0;
  border-color: #3d4050;
  background-color: rgba(39, 39, 51, 0.9);
}

.f-item input::-webkit-input-placeholder {
  color: #272733;
  opacity: 1;
}

.f-item input:-ms-input-placeholder {
  color: #272733;
  opacity: 1;
}

.f-item input::-ms-input-placeholder {
  color: #272733;
  opacity: 1;
}

.f-item input::placeholder {
  color: #272733;
  opacity: 1;
}

.f-item button:not([type="submit"]) {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 991.98px) and (min-width: 576px) {
  .f-item button:not([type="submit"]) {
    font-size: 14px;
  }
}

@media (max-width: 575.98px) {
  .f-item button:not([type="submit"]) {
    font-size: 13px;
  }
}

.f-item button:not([type="submit"]) img {
  display: inline-block;
  margin-right: 7px;
  vertical-align: -4px;
}

.f-item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.f-item__percent {
  font-weight: 600;
  margin-left: 15px;
}

.f-item input[type="range"] {
  height: 24px;
  margin: 10px 0 -12px;
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
}

@media (max-width: 991.98px) and (min-width: 576px) {
  .f-item input[type="range"] {
    margin-top: 8px;
  }
}

.f-item input[type="range"]::-moz-focus-outer {
  border: 0;
}

.f-item input[type="range"]:focus {
  outline: 0;
}

.f-item input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.7);
}

.f-item input[type="range"]:focus::-ms-fill-lower {
  background: rgba(255, 255, 255, 0.7);
}

.f-item input[type="range"]:focus::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.7);
}

.f-item input[type="range"]::-webkit-slider-runnable-track {
  cursor: default;
  height: 6px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #fff;
  border-radius: 5px;
}

.f-item input[type="range"]::-webkit-slider-thumb {
  background: #42a9ed;
  border: 3px solid #286690;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
  height: 24px;
  width: 24px;
  -webkit-appearance: none;
  margin-top: -10px;
}

.f-item input[type="range"]::-moz-range-track {
  cursor: default;
  height: 6px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #fff;
  border-radius: 5px;
  height: 4px;
}

.f-item input[type="range"]::-moz-range-thumb {
  background: #42a9ed;
  border: 3px solid #286690;
  border-radius: 12px;
  box-sizing: border-box;
  cursor: default;
  height: 24px;
  width: 24px;
}

.f-item input[type="range"]::-ms-track {
  cursor: default;
  height: 6px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  background: transparent;
  border-color: transparent;
  border-width: 12px 0;
  color: transparent;
}

.f-item input[type="range"]::-ms-fill-lower {
  background: rgba(242, 242, 242, 0.7);
  border: 1px solid #fff;
  border-radius: 10px;
}

.f-item input[type="range"]::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #fff;
  border-radius: 10px;
}

.f-item input[type="range"]::-ms-thumb {
  background: #42a9ed;
  border: 3px solid #286690;
  border-radius: 12px;
  box-sizing: border-box;
  cursor: default;
  height: 24px;
  width: 24px;
  margin-top: 1.5px;
}

.f-item input[type="range"]:disabled::-webkit-slider-thumb, .f-item input[type="range"]:disabled::-moz-range-thumb, .f-item input[type="range"]:disabled::-ms-thumb, .f-item input[type="range"]:disabled::-webkit-slider-runnable-track, .f-item input[type="range"]:disabled::-ms-fill-lower, .f-item input[type="range"]:disabled::-ms-fill-upper {
  cursor: not-allowed;
}

.f-item button[type="submit"] {
  height: 48px;
  font-size: 15px;
}

@media (max-width: 991.98px) and (min-width: 576px) {
  .f-item button[type="submit"] {
    font-size: 14px;
  }
}

@media (max-width: 575.98px) {
  .f-item button[type="submit"] {
    height: 40px;
    padding: 8px 9px;
    font-size: 13px;
  }
}

.footer {
  color: #fff;
  font-size: 13px;
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: #3d4050;
}

@media (max-width: 799.98px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: -15px;
  margin-left: -15px;
}

.footer__sector {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 799.98px) {
  .footer__sector {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .footer__sector:nth-of-type(3) {
    margin-top: 20px;
  }
}

.footer__sector.footer-copyright {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

@media (max-width: 1159.98px) {
  .footer__sector.footer-copyright {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 30px;
    text-align: left;
  }
}

@media (max-width: 799.98px) {
  .footer__sector.footer-copyright {
    font-size: 12px;
    margin-top: 40px;
    text-align: center;
  }
}

@media (min-width: 460px) {
  .footer__sector.footer-copyright br {
    display: none;
  }
}

.footer__separator {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 1159.98px) {
  .footer__separator:first-of-type {
    display: none;
  }
}

@media (max-width: 799.98px) {
  .footer__separator {
    display: none;
  }
}

.footer__separator:before {
  content: "";
  display: block;
  left: 50%;
  width: 1px;
  height: 18px;
  position: relative;
  background-color: #c3c3c3;
}

.footer-wallets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #c3c3c3;
  margin-right: -15px;
  margin-left: -15px;
}

@media (max-width: 799.98px) {
  .footer-wallets {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 459.98px) {
  .footer-wallets {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-wallets__item {
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 459.98px) {
  .footer-wallets__item + .footer-wallets__item {
    margin-top: 10px;
  }
}

.footer-wallets__item svg {
  margin-right: 10px;
  vertical-align: -4px;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: -15px;
  margin-left: -15px;
}

@media (max-width: 799.98px) {
  .footer-contacts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 459.98px) {
  .footer-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-contacts a {
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

.footer-contacts a svg {
  max-width: 15px;
  max-height: 15px;
  margin-right: 10px;
  vertical-align: -2px;
}

.footer-contacts a svg path {
  fill: #3e9cdc;
}

.footer-contacts__item {
  padding-right: 15px;
  padding-left: 15px;
}
