$main-color: #fff;
$second-color: #43abf0;
$third-color: #3e9cdc;
$grey-color: #c3c3c3;
$dark-color: #272733;
$mobile-max: "max-width: 991.98px";
$mobile-min: "min-width: 992px";
$transition3: 0.3s ease;
$raleway: "Raleway", sans-serif;

@import "_nullstyle.scss";
@import "_fonts.scss";
@import "_templates.scss";

body {
  font-family: "Lato", sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
.wrapper {
  min-height: 100vh;
}
.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}
.section-heading {
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;

  & span {
    color: $third-color;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(16, 16, 29, 0.9);
  transition: transform $transition3, box-shadow $transition3;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0);

  &__container {
    height: 100px;
    transition: height $transition3;

    %header-scrolled & {
      height: 50px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }

    @media ($mobile-max) {
      & {
        height: 70px;
      }
    }
  }

  &__body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &._scrolled {
    @extend %header-scrolled;
  }
  &._menu-opened {
    @extend %menu-opened;
  }
}
.logo {
  position: relative;
  font-size: 0;
  line-height: 0;

  & img {
    width: 245px;
    height: auto;
    transition: width $transition3;

    %header-scrolled & {
      width: 200px;
    }

    @media ($mobile-max) {
      & {
        width: 200px;
      }
    }
  }
}
.menu {
  & &__list li {
    display: inline-block;

    @media ($mobile-min) {
      & + li {
        margin-left: 56px;
      }
    }
    @media ($mobile-max) {
      & {
        display: block;
        margin: 20px 0;
        text-align: center;
      }
    }
  }
  &__link {
    display: block;
    position: relative;
    color: $main-color;
    font-weight: 600;
    font-size: 13px;
    padding: 5px 0;
    margin: -5px 0;
    text-transform: uppercase;
    text-decoration: none;
    transition: $transition3;

    &_active {
      color: $second-color;
    }
    &:hover {
      color: $second-color;
    }

    @media ($mobile-min) {
      &::after {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        bottom: 2px;
        width: 100%;
        height: 1px;
        opacity: 0;
        transform: scale(0.8);
        background-color: $main-color;
        transition: opacity $transition3, transform $transition3, background-color $transition3;
      }
      &:not(&_active):hover::after {
        opacity: 1;
        transform: scale(1);
        background-color: $second-color;
      }
    }
  }

  @media ($mobile-max) {
    & {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
      width: 340px;
      padding: 110px 30px 10px;
      background-color: $dark-color;
      transform-origin: right center;
      transform: perspective(100px) translateX(100%) rotateY(-20deg);
      transition: transform $transition3, top $transition3;
    }
    %menu-opened & {
      transform: perspective(100px) translateX(0);
    }
    // %header-scrolled & {
    //   top: 0;
    // }
  }
}
.burger {
  display: none;
  width: 30px;
  height: 19px;
  border: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  perspective: 50px;
  background-color: transparent;
  transition: transform $transition3;

  & span {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    z-index: 20;
    border-radius: 3px;
    perspective: 50px;
    background-color: $main-color;
    transition: transform 0.6s ease, opacity $transition3;

    &:nth-child(1) {
      top: 0;

      %menu-opened & {
        transform: translateY(8px) rotateY(180deg) rotateZ(45deg);
      }
    }
    &:nth-child(2) {
      top: 8px;
      transition-delay: 0.2s;

      %menu-opened & {
        transform: rotateY(45deg) rotateZ(90deg);
        opacity: 0;
      }
    }
    &:nth-child(3) {
      top: 16px;
      transition-delay: 0.1s;

      %menu-opened & {
        transform: translateY(-8px) rotateY(180deg) rotateZ(-45deg);
      }
    }
  }

  %menu-opened & {
    transform: rotateY(180deg);
  }

  @media ($mobile-max) {
    & {
      display: block;
    }
  }
}
.main-banner {
  position: relative;
  min-height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & picture {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    overflow: hidden;
  }
  &__container {
    position: relative;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

    & > * {
      max-width: 800px;
    }
  }
  &__heading {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;

    & span {
      color: $third-color;
    }
  }
  &__text {
    font-size: 20px;
    margin-top: 90px;
  }
  & &__list {
    margin-top: 10px;

    & li + li {
      margin-top: 5px;
    }
    & li:before {
      content: "-";
      padding: 0 9px;
      line-height: 1;
      font-weight: 600;
      vertical-align: 2px;
    }
  }
  &__buttons {
    margin-top: 80px;
  }
  &__button {
    min-width: 183px;

    &_white {
      color: #2a2b30;
      border-color: #6f6d7b;
      background-color: $main-color;
    }
    & + & {
      margin-left: 27px;
    }
  }
}
.ordering {
  padding-top: 118px;
  padding-bottom: 150px;
  color: $main-color;
  background: url("../images/ordering-background.png") center/cover no-repeat $dark-color;

  // &__container {
  // }
  // &__title {
  // }
  &__description {
    margin: 30px auto 0;
    font-size: 18px;
    text-align: center;
    max-width: 800px;
  }
  &__featurettes {
    margin-top: 80px;
  }
  &__form {
    margin-top: 86px;
  }
}
.featurettes {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    flex: 0 1 18%;
    text-align: center;
  }
}
.fts-item {
  position: relative;

  &:not(:last-child):before {
    content: "";
    position: absolute;
    top: 48px;
    left: 50%;
    width: 100%;
    height: 6px;
    z-index: 1;
    background: url("../images/ellipse.svg") 44.5% 50%/12.3% 6px repeat-x transparent;
  }
  &__image-wrapper {
    position: relative;
    z-index: 2;
    width: 100px;
    height: 100px;
    line-height: 90px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    background-color: $third-color;
    border: 5px solid #286690;
  }
  &__image {
    display: inline;
    vertical-align: middle;
    max-width: 40px;
    max-height: 43px;
  }
  &__title {
    font-size: inherit;
    font-weight: inherit;
    margin-top: 21px;
  }
}
.form {
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;

    & + & {
      margin-top: 30px;
    }
  }
  &__item {
    flex: 0 1 33.3333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  &__item--wide {
    flex-basis: 66.6666%;
  }
}
.f-item {
  & > * {
    width: 100%;
    font-size: 18px;
  }
  select,
  input:not([type="range"]),
  button:not([type="submit"]) {
    border: 1px solid $main-color;
    height: 48px;
    padding: 10px;
    color: $dark-color;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.85);
  }
  input::-webkit-input-placeholder {
    color: $dark-color;
    opacity: 1;
  }
  input::-moz-placeholder {
    color: $dark-color;
    opacity: 1;
  }
  input:-ms-input-placeholder {
    color: $dark-color;
    opacity: 1;
  }
  input:-moz-placeholder {
    color: $dark-color;
    opacity: 1;
  }
  input::placeholder {
    color: $dark-color;
    opacity: 1;
  }
  button:not([type="submit"]) {
    font-size: 15px;
    font-weight: 600;
    border: 2px solid $third-color;
    text-transform: uppercase;
    background-color: $main-color;

    img {
      display: inline-block;
      margin-right: 7px;
      vertical-align: -4px;
    }
  }
  &__title {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
  }
  // &__percent {
  // }
  input[type="range"] {
    margin-top: 11px;
  }
  button[type="submit"] {
    font-size: 15px;
    margin-top: 13px;
    min-height: 48px;
  }
}
.footer {
  color: $main-color;
  font-size: 13px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #3d4050;

  // &__container {
  // }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-right: -15px;
    margin-left: -15px;
  }
  %paddingrl {
    position: relative;
    flex: 1 1 auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  &__sector {
    @extend %paddingrl;

    &.footer-copyright {
      flex-grow: 0;
    }
  }
  &__separator {
    @extend %paddingrl;

    &:before {
      content: "";
      display: block;
      left: 50%;
      width: 1px;
      height: 18px;
      position: relative;
      background-color: $grey-color;
    }
  }
}
.footer-wallets {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: $grey-color;
  margin-right: -15px;
  margin-left: -15px;

  &__item {
    padding-right: 15px;
    padding-left: 15px;

    svg {
      margin-right: 10px;
      vertical-align: -4px;
    }
  }
}
.footer-contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-right: -15px;
  margin-left: -15px;

  a {
    color: $main-color;
    text-decoration: none;

    svg {
      max-width: 15px;
      max-height: 15px;
      margin-right: 10px;
      vertical-align: -2px;
    }
    svg path {
      fill: $third-color;
    }
  }
  &__item {
    padding-right: 15px;
    padding-left: 15px;
  }
}